* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: lightblue;
}

#container {

  margin: 0px auto;

  display: flex;
  flex-direction: column;
}

#topbar {
display: flex;
justify-content: center;
  height: 100px;

}
#leftmainbar {
display: flex;


}
#leftbar {

  height: 500px;
  width: 180px;

}

#mainbar {

  height: 500px;
text-align: center;
width: 1800px;

}

.button {
 width: 130px;
 height: 130px;
}
.catimage {
border: 3px solid black;
max-height:200px !important;



}
