* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: lightblue;
}

#container {
  border: 5px solid black;
  margin: 0px auto;
  width: 1470px;
}

#topbar {
  background-color: red;
  height: 100px;
  text-align: center;
  
}

#leftbar {
  background-color: blue;
  height: 300px;
  width: 180px;
  float: left;
}

#mainbar {
  background-color: pink;
  height: 500px;
text-align: center;
}
footer {
  background-color:  orange;
  height: 300px;
}
.button {
 width: 130px;
}
