* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: lightblue;
}

#container {
  border: 5px solid black;
  margin: 0px auto;

  display: flex;
  flex-direction: column;
}

#topbar {
  background-color: red;
  height: 100px;
  text-align: center;

}
#leftmainbar {
display: flex;


}
#leftbar {
  background-color: blue;
  height: 500px;
  width: 180px;

}

#mainbar {
  background-color: pink;
  height: 500px;
text-align: center;
}
footer {
  background-color:  orange;
  height: 300px;
}
.button {
 width: 130px;
}
.catimage {
border: 3px solid black;
max-height:200px !important;
background-color: red;


}
