* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url(https://images.fineartamerica.com/images-medium-large-5/1-sky-background-at-sunset-clouds-vivid-moreiso.jpg);
  background-size:cover;
  background-attachment: fixed;

}

#container {

  margin: 0px auto;

  display: flex;
  flex-direction: column;
}

.linkedin:hover  {
  box-shadow: inset 100px 0 0 0 black;
}

.google:hover  {
  box-shadow: inset 100px 0 0 0 black;
}

.github:hover  {
  box-shadow: inset 100px 0 0 0 black;
}



#topbar {
display: flex;
justify-content: center;
margin-left: 140px;
  height: 100px;
  text-shadow: 3px 3px black;
  color: white;

  margin-top: 100px;


}
#leftmainbar {
display: flex;


}
#leftbar {
color: white;
text-shadow: 3px 3px black;
  height: 500px;
  width: 180px;
  /* border: 5px solid white; */


}

#mainbar {

  height: 500px;
text-align: center;
width: 1800px;
text-shadow: 3px 3px black;
color: white;


}

.button {
 width: 200px;
 height: 60px;
 border: 3px solid black;
 font-size: 30px;
 font-family: sans-serif;
 color: white;
background-color: #CD5C5C;
}

#modalbutton {
  width: 130px;
  height:50px;
  background-color: #CD5C5C;
  color: white;
  font-family: sans-serif;
  font-size: 17px;
}

#textbox {
	background-color: black;
	height: 180px;
	width: 490px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#modal {
display: none;
background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  font-size: 19px;
}
.catimage {
border: 3px solid white;
max-height:200px !important;

}

h2{
color: white;
text-shadow: 2px 2px black;

}

.button1 {
  width: 130px;

}

.button:hover  {
  box-shadow: inset 200px 0 0 0 black;
}

#modalbutton:hover  {
  box-shadow: inset 130px 0 0 0 black;
}
